<div class="mt-4">
    <h3>Tạo khóa học</h3>
        <form method="post" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{course.name}}" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea  class="form-control" id="description" name="description"  placeholder="Enter description">{{course.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="videoId">Id video</label>
                <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}" placeholder="Enter videoId">
            </div>
            <div class="form-group">
                <label for="level">level course</label>
                <input type="text" class="form-control" id="level" name="level" value="{{course.level}}"  placeholder="Enter level">
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    
</div>